section:first-of-type {
	font-weight: 400;
	display: flex;
	box-sizing: border-box;
}

.purpleBox {
	max-height: 20rem;
	min-height: 18rem;
	width: 35vw;
	border-top-left-radius: 8em;
	border-bottom-left-radius: 8em;
	position: absolute;
	right: 0;
	margin-top: 70px;
	align-self: center;
	background-color: var(--soft-blue);
	z-index: -999;
}

section:first-of-type h1 {
	font-weight: 500;
	font-size: 2.30rem;
}

.leftContent {
	display: flex;
	flex-flow: column;
	width: 50%;
	align-self: center;
}

.leftContentWrap {
	align-self: center;
}

.leftContent .caption {
	margin: 0 0 20px 0;
}

.rightContent {
	width: 50%;
	display: flex;
}

.rightContent img {
	max-width: 46vw;
	max-height: auto;
}

section:first-of-type .caption {
	color: var(--grayish-blue);
	font-size: 0.8em;
	line-height: 1.5em;
}

.header-button-wrapper button {
	margin-right: 10px;
}

@media only screen and (max-width: 856px) {
	section:first-of-type {
		flex-direction: column-reverse;
	}

	section:first-of-type .caption {
		line-height: 1.9em;
	}

	.rightContent {
		padding-top: 40px;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.purpleBox {
		width: 76%;
		margin-top: 30px;
		min-height: 200px;
		max-height: 250px;
		text-align: center;
	}

	.rightContent img {
		max-width: 86vw;
		margin: auto;
	}

	.leftContent {
		width: 100%;
		text-align: center;
		align-self: center;
	}
}
