.faqsContainer {
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
}

.faqsContainer.caption {
	color: var(--very-dark-blue);
}

.faqsContainer .question:hover {
	color: var(--soft-red);
	cursor: pointer;
}

.faqsContent {
	border-top: 1px solid hsla(229, 8%, 60%, 0.28);
}

.faqsContent:nth-last-child(1) {
	border-bottom: 1px solid hsla(229, 8%, 60%, 0.28);
}
