@keyframes opac {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.section-2 {
	display: block;
}

.sectionTwoHeader {
	text-align: center;
	width: 450px;
	margin: 0 auto;
}

.slide-link-wrapper {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1px 0;
	border-bottom: 1px solid hsla(229, 8%, 60%, 0.383);
	width: 70%;
	margin: 30px auto;
}

.slide-link-wrapper button {
	display: inline;
	padding: 20px 20px;
	margin: 0 16px;
	border: 3px solid transparent;
	font-size: 0.7em;
	color: var(--grayish-blue);
	letter-spacing: 0.1em;
	background-color: transparent;
}

.slide-link-wrapper button:hover {
	color: var(--soft-red);
	cursor: pointer;
}

button.currentSlide {
	border-bottom: 3px solid red;
	border-radius: 4px;
}

.slide-link-wrapper button {
	outline: none;
}

.slideContainer {
	display: flex;
}

.slideContent {
	justify-content: space-evenly;
}

.slideImg,
.slideWordWrap {
	width: 50%;
	align-self: center;
	margin: 0 28px;
}

.slideImg img,
.slideWordWrap {
	animation: opac 200ms ease-in;
}

.slideImg img {
	max-width: 46vw;
	max-height: auto;
}

.slideWordWrap {
	align-self: center;
}

.slideWordWrap button {
	height: 37px;
	width: 89px;
	box-shadow: 0px 5px 10px rgba(199, 198, 238, 0.664);
	background-color: var(--soft-blue);
	color: #fff;
	border: 2px solid transparent;
	border-radius: 4px;
}

.slideWordWrap button:hover {
	background-color: #fff;
	color: var(--soft-blue);
	border: 2px solid var(--soft-blue);
}

.slideImg .purpleBox {
	transform: scaleX(-1);
	left: 0;
	margin-top: 85px;
	width: 45vw;
	min-height: 16em;
}
