footer {
	display: flex;
	flex-flow: column;
	background-color: var(--soft-blue);
	margin: 0;
	text-align: center;
	color: #f2f2f2;
}

.footerTop {
	padding: 40px 20px 60px 20px;
}

.footerCaption {
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.footerHeading {
	font-weight: 400;
}

.contactUs {
	color: #fff;
	background-color: var(--soft-red);
	padding: 12px 15px;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	border: 2px solid var(--soft-red);
	border-radius: 4px;
	margin-left: 20px;
	box-shadow: none;
}

input[type=email] {
	padding: 13px 15px;
	min-width: 300px;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 0.8rem;
}

::placeholder {
	color: #afafafbe;
}

input[type=email]:invalid {
	border: 2px solid var(--soft-red);
}

.footerBottom {
	display: flex;
	background-color: var(--very-dark-blue);
	width: 100%;
	padding: 13px 0 9px 0;
}

.footerBottom ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.footerBottom a {
	color: #f2f2f2;
	font-size: 0.66em;
	padding-right: 40px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.footerSocialLinks {
	width: 100%;
}

.socialLinks {
	float: right;
}

.socialLinks img {
	width: 20px;
}

.icon:hover {
	fill: red;
}

@media only screen and (max-width: 768px) {
	.footerBottom {
		flex-direction: column;
		padding-bottom: 40px;
	}

	.links {
		flex-direction: column;
	}

	.socialLinks {
		float: none;
		margin: 0;
	}

	.socialLinks li {
		padding: 0;
	}

	footer li {
		padding: 10px 5px;
	}
}

@media only screen and (max-width: 568px) {
	.contactUs {
		min-width: 300px;
		margin: 11px 0 0 0;
	}
}
