@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}

code {
	font-family: 'Rubik', sans-serif;
}
