:root {
	--soft-blue: hsl(231, 69%, 60%);
	--soft-red: hsl(0, 94%, 66%);
	--grayish-blue: hsl(229, 8%, 60%);
	--very-dark-blue: hsl(229, 31%, 21%);
}

.navContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 50px;
	font-family: 'Rubik', sans-serif;
}

nav {
	display: block;
	align-content: flex-end;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

nav a,
nav a:active,
nav a:visited {
	text-decoration: none;
	color: var(--very-dark-blue);
}

nav a:hover {
	color: var(--soft-red);
}

.login {
	color: var(--very-dark-blue);
	background-color: transparent;
	text-transform: uppercase;
	font-size: 1em;
	padding: 10px 60px;
	border: 2px solid var(--very-dark-blue);
	border-radius: 4px;
}

.responsive-menu {
	display: none;
}

@media only screen and (max-width: 768px) {
	.responsive-menu {
		display: block;
		position: absolute;
		top: 35px;
		right: 20px;
		z-index: 999;
	}

	nav {
		position: absolute;
		right: 0px;
		top: 0px;
		background-color: var(--very-dark-blue);
		text-align: center;
		height: 100%;
		width: 100%;
		opacity: 0.97;
	}

	nav ul {
		padding: 60px 50px;
	}

	nav ul li a,
	.login {
		color: #f2f2f2;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 1em;
	}

	nav ul li {
		display: block;
		border-bottom: 1px solid var(--grayish-blue);
		padding: 20px;
	}

	nav ul li:nth-last-child(1) {
		border: none;
	}

	.login {
		border-color: #f2f2f2;
	}

	nav a,
	nav a:active,
	nav a:visited {
		text-decoration: none;
		color: #f2f2f2;
	}

	.responsive-menu {
		width: 40px;
		height: 40px;
	}

	.hOne,
	.hTwo,
	.hThree {
		content: '';
		border-bottom: 1px solid red;
		width: 40px;
		height: 6px;
	}
}
