.navContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
	font-family: 'Rubik', sans-serif;
}

nav {
	display: block;
	align-content: flex-end;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 18px;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

nav a,
nav a:active,
nav a:visited {
	text-decoration: none;
	color: var(--very-dark-blue);
}

nav a:hover {
	color: var(--soft-red);
}

.login {
	color: #fff;
	background-color: var(--soft-red);
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 0.1em;
	border: 2px solid var(--soft-red);
	border-radius: 4px;
	box-shadow: 0px 5px 10px rgba(199, 198, 238, 0.664);
}

button.login:hover {
	color: var(--soft-red);
	border: 2px solid var(--soft-red);
	background-color: #fff;
}

.responsive-menu {
	display: none;
}

@media only screen and (max-width: 1023px) {
	.responsive-menu {
		display: inline-block;
		z-index: 999;
		width: 40px;
		height: 40px;
		background-color: transparent;
		outline: none;
		border: none;
	}

	nav {
		position: absolute;
		right: 0px;
		top: 0px;
		background-color: var(--very-dark-blue);
		text-align: center;
		height: 100%;
		width: 100%;
		opacity: 0.97;
	}

	nav ul {
		padding: 60px 50px;
	}

	nav ul li a,
	.login {
		color: #f2f2f2;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 1em;
	}

	nav ul li {
		display: block;
		border-bottom: 1px solid var(--grayish-blue);
		padding: 20px;
	}

	nav ul li:nth-last-child(1) {
		border: none;
	}

	.login {
		border-color: #f2f2f2;
	}

	nav a,
	nav a:active,
	nav a:visited {
		text-decoration: none;
		color: #f2f2f2;
	}

	.hOne,
	.hTwo,
	.hThree {
		display: block;
		position: relative;
		border-bottom: 4px solid var(--very-dark-blue);
		width: 22px;
		height: 8px;
		top: -2px;
		opacity: 1;
		transition: all 200ms;
	}

	.hOneAnimate,
	.hTwoAnimate {
		border-color: #f2f2f2;
	}

	.hOneAnimate {
		transform: rotate(45deg);
		transition: transform 200ms;
		top: 5px;
		left: 1px;
	}

	.hTwoAnimate {
		transform: rotate(-45deg);
		top: -3px;
		right: 2px;
	}

	.hThreeAnimate {
		opacity: 0;
		transition: display 200ms;
	}
}
